* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --light-grey: #f9f9f9;
    --medium-grey: #f1f1f1;
    --dark-grey: #333;
    --general-padding: 2rem;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#row {
    width: 600px;
    margin: auto;
}

#item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--general-padding);
    padding-top: var(--general-padding);
}

@media only screen and (min-width: 600px) {
    #item {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

h1 {
    text-align: center;
    margin: 0;
    padding-bottom: var(--general-padding);
    border-bottom: 2px solid var(--light-grey);
    color: var(--dark-grey);
}


input {
    flex: 1;
    padding: 0.5rem;
    border: 2px solid var(--medium-grey);
    box-shadow: none;
}

.input {
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
}

.input:last-child {
    margin-bottom: var(--general-padding);
}


.fin {
    display: inline-block;
    border: 2px solid var(--medium-grey);
    border-left: none;
    margin: 0;
    padding: 0.5rem;
    background: var(--light-grey);
    font-size: 13px;
    line-height: 20px;;
}

select {
    border: none;
    background: none;
}

#valeur {
    border-top: 2px solid var(--light-grey);
    padding-top: var(--general-padding);
    width: 100%;;
}