* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#row {
    width: 600px;
    margin: auto;
}

#item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    padding-top: 2rem;
}

@media only screen and (min-width: 600px) {
    #item {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
    border-bottom: 2px solid #f1f1f1;
    color: #333;
}


input {
    flex: 1;
    padding: 0.5rem;
    border: 2px solid #f1f1f1;
    box-shadow: none;
}



.input {
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
}

.input:last-child {
    margin-bottom: 2rem;
}


.fin {
    display: inline-block;
    border: 2px solid #f1f1f1;
    border-left: none;
    margin: 0;
    padding: 0.5rem;
    background: #f9f9f9;
    font-size: 13px;
    line-height: 20px;;
}

select {
    border: 0;
    background: none;
}

#valeur {
    border-top: 2px solid #f1f1f1;
    padding-top: 2rem;
    width: 100%;;
}